<section class="about" id="element1">
    <div class="container-fluid">
        <div class="container">
            <h2 class="about__title">О <span>компании</span></h2>
            <div class="about__inner">
                <div class="about__left">
                    <h3 class="about__left-title">«ГРИНВИЛЛЬ» – оптово-розничный флористи&shy;ческий центр
                    </h3>
                    <p class="about__left-text">Мы предлагаем профессионалам и любителям цветов центр
                        самооб&shy;служивания
                        площадью 3000 кв. м., который работает в формате Сash&сarry, и склад&shy;ской терми&shy;нал
                        площадью
                        2000
                        кв. м., который отвечает специальным требо&shy;вани&shy;ям для хранения и обработки цветов,
                        обслуживающий
                        оптовых и мелко&shy;оптовых клиентов с достав&shy;кой «от двери до двери» или самовывозом.</p>
                    <div class="about__left-img">
                        <img src="images/image-about1.jpg"></img>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__right-img"><img src="images/image-about2.jpg"></img></div>
                    <h3 class="about__right-title">Мы гарантируем разно&shy;образия ассортимента </h3>
                    <p class="about__right-text">У нас больше 20000 видов срезан&shy;ных цветов и растений из
                        Нидер&shy;лан&shy;дов,
                        Эквадора, Колум&shy;бии, Израиля, Италии, Кении, Эфиопии, Бель&shy;гии, Германии, Дании, России,
                        и
                        разнообразие флористических товаров и аксес&shy;суаров для декора крупнейших мировых
                        производите&shy;лей.
                    </p>
                    <a class="about__right-btnread" href="#">Читать еще</a>
                </div>
            </div>
        </div>
        <div class="rightside">
            <p class="rightside__text">– О компании</p>
        </div>
    </div>
</section>