<footer class="footer" id="element4">
    <div class="container-fluid">
        <div class="footer__leftside">
            <div class="footer__social-list">
                <a class="footer__social-link footer__social-link_telegram" href="#"></a>
                <a class="footer__social-link footer__social-link_whatsapp" href="#"></a>
                <a class="footer__social-link footer__social-link_youtube " href="#"></a>
                <a class="footer__social-link footer__social-link_facebook" href="#"></a>
            </div>
            <a class="footer__logo_leftside" href="#">
                <img class="footer__logo-img" src="images/footer-logo.png" alt="logo">
            </a>
            <a class="footer__btn-arrowup" href="#"></a>
        </div>
        <div class="footer__container container">
            <div class="footer__top">
                <div class="footer__items">
                    <div class="footer__item-menu">
                        <h3 class="footer__item-title">Меню</h3>
                        <nav class="footer__menu menu">
                            <a class="menu__link active" href="./">О компании</a>
                            <a class="menu__link" href="./"> Уход за кактусами</a>
                            <a class="menu__link" href="./"> Популярные виды</a>
                            <a class="menu__link" href="./">Каталог</a>
                            <a class="menu__link" href="./">Доставка</a>
                            <a class="menu__link" href="./"> Контакты</a>
                        </nav>
                    </div>
                    <div class="footer__item-info">
                        <div class="footer__item-info_address">
                            <h3 class="footer__item-title">Наш адрес</h3>
                            <div class="footer__item-text">630088, г. Новосибирск, Северный проезд, д. 9</div>
                        </div>
                        <div class="footer__item-info_schedule">
                            <h3 class="footer__item-title">Режим работы</h3>
                            <div class="footer__item-text">с 8:00 до 20:00</div>
                        </div>
                        <div class="footer__item-info_fidelity">
                            <h3 class="footer__item-title">Программы лояльности</h3>
                            <a class="footer__item-link" href="#">Карты лояльности</a>
                            <a class="footer__item-link" href="#">Скидки за объем</a>
                        </div>
                    </div>
                    <div class="footer__item-form " id="form">
                        <h3 class="footer__item-title">Свяжитесь с нами</h3>
                        <form class="footer__form form">
                            <p class="form__text">Введите ваше имя</p>
                            <input class="form__input" type="text" placeholder="Иван Карамзин">
                            <p class="form__text">Введите ваш e-mail</p>
                            <input class="form__input" type="text" placeholder="ivankaramzin@email.com">
                            <p class="form__text">Напишите нам</p>
                            <textarea class="form__textarea" placeholder="Напиши свое сообщение сюда"></textarea>
                            <input class="form__btn" type="submit"></input>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <a class="footer__logo" href="#">
                    <img class="footer__logo-img" src="images/footer-logo.png" alt="logo">
                </a>
                <ul class="footer__bottom-list">
                    <a class="footer__bottom-link" href="#">Договор оферты</a>
                    <a class="footer__bottom-link" href="#">Наши реквезиты</a>
                    <a class="footer__bottom-link" href="#">Глобальный сайт</a>
                    <div class="footer__copyright">&copy;2022. Все права защищены</div>
                </ul>
            </div>
        </div>
        <div class="footer__rightside rightside">
            <p class="rightside__text">
                – Гринвилль благодарит за ваше время
            </p>
        </div>
    </div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>