<section class="cactuses">
    <div class="container-fluid">
        <div class="container">
            <div class="cactuses__swiper swiper-container">
                <div class="cactuses__bullets swiper-bullets"></div>
                <div class="cactuses__wrapper swiper-wrapper">
                    <div class="cactuses__slide swiper-slide" data-swiper-parallax="-30%">
                        <div class="cactuses__content">
                            <h2 class="cactuses__title" data-swiper-parallax="-300"> <span>Кактусы</span> – одни из
                                самых
                                необычных растений на
                                подоконниках
                            </h2>
                            <div class="cactuses__text" data-swiper-parallax="-200">Кактусы относится к стеблевым
                                суккулентам. Эти рас&shy;тения
                                накапли&shy;вают
                                воду.
                                Листья как&shy;туса – ко&shy;лючки. Они модифици&shy;ровались и
                                при&shy;спо&shy;со&shy;бились
                                к
                                засушливому
                                климату.
                                Встре&shy;чаются
                                разновид&shy;ности и с листьями. На земле более 3000 видов семейства кактусовые. </div>
                            <!-- <a class="button" href="#">Выбрать</a> -->
                        </div>
                        <div class="cactuses__img-wrapper">
                            <img class="cactuses__img" src="images/staff/cactuses.jpg" alt="image">
                        </div>
                    </div>
                    <div class="cactuses__slide swiper-slide" data-swiper-parallax="-30%">
                        <div class="cactuses__content">
                            <h2 class="cactuses__title" data-swiper-parallax="-300"> <span>Кактусы</span> – одни из
                                самых
                                необычных растений на
                                подоконниках
                            </h2>
                            <div class="cactuses__text" data-swiper-parallax="-200">Кактусы относится к стеблевым
                                суккулентам. Эти рас&shy;тения
                                накапли&shy;вают
                                воду.
                                Листья как&shy;туса – ко&shy;лючки. Они модифици&shy;ровались и
                                при&shy;спо&shy;со&shy;бились
                                к
                                засушливому
                                климату.
                                Встре&shy;чаются
                                разновид&shy;ности и с листьями. На земле более 3000 видов семейства кактусовые. </div>
                            <!-- <a class="button" href="#">Выбрать</a> -->
                        </div>
                        <div class="cactuses__img-wrapper">
                            <img class="cactuses__img" src="images/staff/cactuses.jpg" alt="image">
                        </div>
                    </div>
                    <div class="cactuses__slide swiper-slide" data-swiper-parallax="-30%">
                        <div class="cactuses__content">
                            <h2 class="cactuses__title" data-swiper-parallax="-300"> <span>Кактусы</span> – одни из
                                самых
                                необычных растений на
                                подоконниках
                            </h2>
                            <div class="cactuses__text" data-swiper-parallax="-200">Кактусы относится к стеблевым
                                суккулентам. Эти рас&shy;тения
                                накапли&shy;вают
                                воду.
                                Листья как&shy;туса – ко&shy;лючки. Они модифици&shy;ровались и
                                при&shy;спо&shy;со&shy;бились
                                к
                                засушливому
                                климату.
                                Встре&shy;чаются
                                разновид&shy;ности и с листьями. На земле более 3000 видов семейства кактусовые. </div>
                            <!-- <a class="button" href="#">Выбрать</a> -->
                        </div>
                        <div class="cactuses__img-wrapper">
                            <img class="cactuses__img" src="images/staff/cactuses.jpg" alt="image">
                        </div>
                    </div>
                    <div class="cactuses__slide swiper-slide" data-swiper-parallax="-30%">
                        <div class="cactuses__content">
                            <h2 class="cactuses__title" data-swiper-parallax="-300"> <span>Кактусы</span> – одни из
                                самых
                                необычных растений на
                                подоконниках
                            </h2>
                            <div class="cactuses__text" data-swiper-parallax="-200">Кактусы относится к стеблевым
                                суккулентам. Эти рас&shy;тения
                                накапли&shy;вают
                                воду.
                                Листья как&shy;туса – ко&shy;лючки. Они модифици&shy;ровались и
                                при&shy;спо&shy;со&shy;бились
                                к
                                засушливому
                                климату.
                                Встре&shy;чаются
                                разновид&shy;ности и с листьями. На земле более 3000 видов семейства кактусовые. </div>
                            <!-- <a class="button" href="#">Выбрать</a> -->
                        </div>
                        <div class="cactuses__img-wrapper">
                            <img class="cactuses__img" src="images/staff/cactuses.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <a class="cactuses__button button" href="#">Выбрать</a>
            </div>
        </div>
        <div class="cactuses__rightside rightside">
            <p class="rightside__text">
                – Выбрать кактусы
            </p>
        </div>
    </div>
</section>