<section class="care" id="element2">
    <div class="container-fluid">
        <div class="container">
            <div class="care__items">
                <div class="care__item care__item_title">
                    <h2 class="care__title">
                        <span>Уход</span> <br> за кактусами
                    </h2>
                </div>
                <div class="care__item care__item_three">
                    <div class="care__num">3</div>
                    <p class="care__text">Кактусам нравится провет&shy;ренное помещение. Жела&shy;тельно откры&shy;вать
                        окно
                        не&shy;надолго и убирать со сквозняка.</p>
                </div>
                <div class="care__item care__item_six">
                    <div class="care__num">6</div>
                    <p class="care__text">Желательно пересаживать кактус в горшок среднего размера. </p>
                </div>
                <div class="care__item care__item_one">
                    <div class="care__num">1</div>
                    <p class="care__text">Кактусы не оставлять под паля&shy;щим солнцем. Желатель&shy;но
                        за&shy;тя&shy;гивать
                        часть
                        окна
                        пи&shy;щевой бумагой. У нее умерен&shy;ная светопроницаемость. </p>
                </div>
                <div class="care__item care__item_four">
                    <div class="care__num">4</div>
                    <p class="care__text">Кактусы любят температуру не ниже 10 градусов и не выше 20 градусов.</p>
                </div>
                <div class="care__item care__item_seven">
                    <div class="care__num">7</div>
                    <p class="care__text">C октября по март месяц желательно поливать как&shy;тусы 1 раз в неделю или в
                        2
                        недели. Чуть-чуть капель воды в край горшка. </p>
                </div>
                <div class="care__item care__item_two">
                    <div class="care__num">2</div>
                    <p class="care__text">Кактусы болеют когда чрезмерная сухость и тепло. Не ставить рядом с батарей на
                        подоконнике. </p>
                </div>
                <div class="care__item care__item_five">
                    <div class="care__num">5</div>
                    <p class="care__text">Кактусы болеют когда их часто тревожат. Не трогай&shy;те и не переставляйте их
                        слишком часто. </p>
                </div>
                <div class="care__item care__item_eight">
                    <div class="care__num">8</div>
                    <p class="care__text">Кактус нельзя пересажи&shy;вать в период спячки. Же&shy;лательно дождаться
                        марта
                        месяца. </p>
                </div>
            </div>
        </div>
        <div class="rightside">
            <p class="rightside__text">– Уход за кактусами</p>
        </div>
    </div>
</section>