<header class="header">
    <div class="container-fluid">
        <div class="leftside">
            <a class="leftside__logo" href="./">
                <img src="images/logo.png" alt="logotype">
            </a>
            <div class="leftside__navi">
                <nav class="header__menu menu">
                    <a class="menu__link" href="#element1">О компании</a>
                    <a class="menu__link" href="#element2"> Уход за кактусами</a>
                    <a class="menu__link" href="#element3"> Популярные виды</a>
                    <a class="menu__link"
                        href="https://www.sibflowers.ru/catalog/komnatnye-rasteniya/dekorativnolistnye/kaktusy/"
                        target="blank">Каталог</a>
                    <a class="menu__link" href="https://www.sibflowers.ru/payment-and-delivery/"
                        target="blank">Доставка</a>
                    <a class="menu__link" href="#element4"> Контакты</a>
                </nav>
            </div>
        </div>
        <div class="header__content container">
            <div class="header__top">
                <div class="header__top-menu"></div>
                <a class="header__top-link header__top-link_cards"
                    href="https://www.sibflowers.ru/cash_and_carry/#loyalty">Карты
                    <span>лояльности</span>
                </a>
                <div class="header__top-phones">
                    <a class="header__top-link" href="tel:8 (800) 250-90-52">8 (800) 250-90-52,</a>
                    <a class="header__top-link" href="tel: 8 (383) 344-22-44"> 8 (383) 344-22-44</a>
                </div>
                <form class="rightside__search rightside__search_top" action="./">
                    <input type="text" placeholder="Поиск">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="hero__left">
                <h2 class="hero__left-title"> <span>Кактусы</span> оптом <br> и в розницу</h2>
                <a class="hero__left-scroll" href="#form"></a>
            </div>
            <div class="header__slider hero swiper">
                <div class="hero__left-bullets swiper-pagination"></div>
                <div class="hero__wrapper swiper-wrapper">
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-inner">
                            <div class="hero__left">
                                <div class="hero__left-discount">—28%</div>
                            </div>
                            <div class="hero__img-circle" data-swiper-parallax="-30%">
                                <img class="hero__img" src="images/staff/cactus-1.jpg" alt="image">
                            </div>
                            <div class="hero__right">
                                <h1 class="hero__right-title" data-swiper-parallax="-200">Гимнокалициум <br> Саглионис
                                    <br> <span>10 шт</span>
                                </h1>
                                <div class="hero__right-prices" data-swiper-parallax="-100">
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">базовая</div>
                                        <div class="hero__right-price">644 р </div>
                                    </div>
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">оптовая</div>
                                        <div class="hero__right-price">459.98 р</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-inner">
                            <div class="hero__left">
                                <div class="hero__left-discount">—28%</div>
                            </div>
                            <div class="hero__img-circle" data-swiper-parallax="-30%">
                                <img class="hero__img" src="images/staff/cactus-1.jpg" alt="image">
                            </div>
                            <div class="hero__right">
                                <h1 class="hero__right-title" data-swiper-parallax="-200">Гимнокалициум <br> Саглионис
                                    <br> <span>10 шт</span>
                                </h1>
                                <div class="hero__right-prices" data-swiper-parallax="-100">
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">базовая</div>
                                        <div class="hero__right-price">644 р </div>
                                    </div>
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">оптовая</div>
                                        <div class="hero__right-price">459.98 р</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-inner">
                            <div class="hero__left">
                                <div class="hero__left-discount">—28%</div>
                            </div>
                            <div class="hero__img-circle" data-swiper-parallax="-30%">
                                <img class="hero__img" src="images/staff/cactus-1.jpg" alt="image">
                            </div>
                            <div class="hero__right">
                                <h1 class="hero__right-title" data-swiper-parallax="-200">Гимнокалициум <br> Саглионис
                                    <br> <span>10 шт</span>
                                </h1>
                                <div class="hero__right-prices" data-swiper-parallax="-100">
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">базовая</div>
                                        <div class="hero__right-price">644 р </div>
                                    </div>
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">оптовая</div>
                                        <div class="hero__right-price">459.98 р</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero__slide swiper-slide">
                        <div class="hero__slide-inner">
                            <div class="hero__left">
                                <div class="hero__left-discount">—28%</div>
                            </div>
                            <div class="hero__img-circle" data-swiper-parallax="-30%">
                                <img class="hero__img" src="images/staff/cactus-1.jpg" alt="image">
                            </div>
                            <div class="hero__right">
                                <h1 class="hero__right-title" data-swiper-parallax="-200">Гимнокалициум <br> Саглионис
                                    <br> <span>10 шт</span>
                                </h1>
                                <div class="hero__right-prices" data-swiper-parallax="-100">
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">базовая</div>
                                        <div class="hero__right-price">644 р </div>
                                    </div>
                                    <div class="hero__right-pricebox">
                                        <div class="hero__right-name">оптовая</div>
                                        <div class="hero__right-price">459.98 р</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__right">
                <div class="hero__right-buttons">
                    <a class="hero__right-btnorder button" href="#">Заказать</a>
                    <a class="hero__right-linkview btnview" href="#">Смотреть все</a>
                </div>
                <div class="hero__right-arrows">
                    <div class="hero__right-arright swiper-button-prev"></div>
                    <div class="hero__right-arleft swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="header__rightside rightside">
            <form class="rightside__search" action="./">
                <input type="text" placeholder="Поиск">
                <input type="submit" value="">
            </form>
            <div class="rightside__text rightside__text_indent">– Добро пожаловать в мир гринвилль</div>
        </div>
    </div>
</header>