<section class="popular" id="element3">
    <div class="container-fluid">
        <div class="popular__container container">
            <div class="popular__top">
                <h2 class="popular__title">
                    Популярные <br> <span>сорта</span>
                </h2>
                <a class="btnview" href="#">Смотреть все</a>
            </div>
            <div class="popular__arrows">
                <div class="popular__arrow-left swiper-button-prev"></div>
                <div class="popular__arrow-right swiper-button-next"></div>
            </div>
            <div class="popular__slider swiper-container">
                <div class="popular__pagination"></div>
                <div class="popular__wrapper swiper-wrapper">
                    <div class="popular__slide swiper-slide">
                        <div class="popular__slide-cirle">
                            <img class="popular__slide-img" src="images/staff/popular-1.jpg" alt="image">
                        </div>
                        <h3 class="popular__slide-title">
                            Полаския Чичипе d8 h15
                        </h3>
                        <div class="popular__slide-items">
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">базовая</div>
                                <div class="popular__slide-price">488.6 Р</div>
                            </div>
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">оптавая</div>
                                <div class="popular__slide-price">349 Р</div>
                            </div>
                        </div>
                        <div class="popular__slide-button button">Заказать</div>
                    </div>
                    <div class="popular__slide swiper-slide">
                        <div class="popular__slide-cirle">
                            <img class="popular__slide-img" src="images/staff/popular-2.jpg" alt="image">
                        </div>
                        <h3 class="popular__slide-title">
                            Пилосоцереус 12 шт
                        </h3>
                        <div class="popular__slide-items">
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">базовая</div>
                                <div class="popular__slide-price">488.6 Р</div>
                            </div>
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">оптавая</div>
                                <div class="popular__slide-price">349 Р</div>
                            </div>
                        </div>
                        <div class="popular__slide-button button">Заказать</div>
                    </div>
                    <div class="popular__slide swiper-slide">
                        <div class="popular__slide-cirle">
                            <img class="popular__slide-img" src="images/staff/popular-3.jpg" alt="image">
                        </div>
                        <h3 class="popular__slide-title">
                            Полаския 10 шт
                        </h3>
                        <div class="popular__slide-items">
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">базовая</div>
                                <div class="popular__slide-price">560 р</div>
                            </div>
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">оптавая</div>
                                <div class="popular__slide-price">399.88 р</div>
                            </div>
                        </div>
                        <div class="popular__slide-button button">Заказать</div>
                    </div>
                    <div class="popular__slide swiper-slide">
                        <div class="popular__slide-cirle">
                            <img class="popular__slide-img" src="images/staff/popular-3.jpg" alt="image">
                        </div>
                        <h3 class="popular__slide-title">
                            Полаския 10 шт
                        </h3>
                        <div class="popular__slide-items">
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">базовая</div>
                                <div class="popular__slide-price">560 р</div>
                            </div>
                            <div class="popular__slide-item">
                                <div class="popular__slide-name">оптавая</div>
                                <div class="popular__slide-price">399.88 р</div>
                            </div>
                        </div>
                        <div class="popular__slide-button button">Заказать</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightside">
            <p class="rightside__text">
                – Закакзать популярные виды кактусов
            </p>
        </div>
    </div>

    </div>
</section>