<section class="subscribe">
    <div class="subscribe__bg container-fluid">
        <div class="container">
            <div class="subscribe__inner">
                <div class="subscribe__content">
                    <h2 class="subscribe__title"><span>Подпишитесь</span> на нашу рассылку</h2>
                    <p class="subscribe__text">Подпишитесь на нашу рассылку и не пропустите скидки и акции мира
                        гринвилль. </p>
                </div>
                <form class="subscribe__form">
                    <input class="subscribe__inptxt" type="text" placeholder="e-mail адрес">
                    <input class="subscribe__btn" type="submit"></input>
                </form>
            </div>
        </div>
    </div>
</section>